<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenue dans la Librairie</title>
    <!-- Lien vers Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa; /* Couleur de fond légère */
        }
        h1 {
            color: #343a40; /* Couleur du titre */
        }
        .btn-custom {
            background-color: #007bff; /* Couleur personnalisée pour les boutons */
            color: white;
        }
    </style>
</head>
<body>

<div class="container mt-5">
    <h1 class="text-center">Bienvenue dans la librairie</h1>
    <div class="text-center mt-4">
        <a href="{% url 'liste_livres' %}" class="btn btn-custom">Voir les livres</a>
        <a href="{% url 'ajouter_livre' %}" class="btn btn-custom">Ajouter un livre</a>
        <a href="{% url 'login_client' %}" class="btn btn-custom mt-3">Connexion Client</a>

    </div>
</div>

<!-- Lien vers Bootstrap JS et dépendances -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
