<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>librairie</title>
</head>
<body>
    <h3>Creation du compte</h3>
    <strong>{{date}}</strong>
    <strong>Expediteur:{{email}}</strong>
    <p >Bienvenue dans la librairie FORCEONE, </p> <br>
    <p>Dans FORCEONE, Nous sommes disposes a recevoir vos commandes</p> <br>
    <p>Pour plus d'infos n'hesitez pas de nous ecrire a l'adresse <em>FORCE.oneLib@gmail.com</em> </p>
</body>
</html>