<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Créer un Compte</title>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        />
        <style>
            body {
                background-color: #f8f9fa;
            }
            .form-container {
                max-width: 400px;
                margin: auto;
                padding: 20px;
                background-color: white;
                border-radius: 8px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                margin-top: 270px;
            }
        </style>
    </head>
    <body>
        <div class="form-container">
            <h1 class="text-center mb-4">Créer un Compte</h1>
            <form method="post" action="{% url 'bienvenue_mail' %}">
                {% csrf_token %} {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}"
                        >{{ field.label }}</label
                    >
                    {{ field|add_class:"form-control" }} {% if field.help_text
                    %}
                    <small class="form-text text-muted"
                        >{{ field.help_text }}</small
                    >
                    {% endif %} {% if field.errors %}
                    <div class="invalid-feedback">
                        {% for error in field.errors %}
                        <div>{{ error }}</div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary btn-block">
                    Créer un Compte
                </button>
            </form>
            <a href="{% url 'login_client' %}" class="btn btn-link mt-3"
                >Déjà un compte ? Connectez-vous</a
            >
        </div>
    </body>
</html>
